#projectimg {
    min-width: 350px;
    max-width: 85%;
    height: auto;
  }

#backgroundimg {
  min-width: 1000px;
  max-width: 100%;
  z-index:0;
}

#bannerimg {
  min-width: 500px;
  max-width: 100%;
  z-index:0;
}
  
#centeredbox { 
    margin:auto;
    min-width:70%;
    max-width:750px;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
}

#bullets { 
    margin:auto;
    min-width:300px;
    max-width:90%;
    height:auto;
}

.pagePadding {
  padding-top:80px;
}

